# Dependencies
/node_modules
/.pnp
.pnp.js

# Next.js build output
/.next/
/out/

# Sanity Studio
/studio/node_modules
/studio/dist

# Vercel
.vercel

# Local environment files
.env*.local

# Misc
.DS_Store
*.pem

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
项目备忘录
